{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<section class="blog-posts">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">

                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img ">
                                <img src="https://cdn.emk.dev/templates/featured-image.png" alt="">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Category Name</h3>
                                    <h1 class="title post-title">Blog Posts Template</h1>
                                    <p class="post-excerpt">This template is based off of the official default blog template created by the fine folks over at <a href="https://ghost.io">Ghost</a>. If you are looking for a fully featured blog platform, I highly recommend checking them out!</p>
                                    <br>
                                    <a href="#" class="button is-primary">Read More</a>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>

                <hr>
            </div>
        </div>
    </div>

</section>

{% endblock content %}
